#cloud-config
hostname: ${hostname}
fqdn: ${fqdn}

users:
  - name: ${admin_user}
    groups: [sudo]
    shell: /bin/bash
    sudo: "ALL=(ALL) NOPASSWD:ALL"
    lock_passwd: true
    ssh_authorized_keys:
      - ${ssh_key}

ssh_pwauth: false
disable_root: true

write_files:
  - path: /etc/ssh/sshd_config.d/99-lab.conf
    permissions: "0644"
    content: |
      PasswordAuthentication no
      PermitRootLogin no
      KbdInteractiveAuthentication no

runcmd:
  - [systemctl, try-restart, ssh.socket, ssh.service]
