[defaults]
inventory = inventory.yml
remote_user = josh
host_key_checking = False
interpreter_python = auto_silent
stdout_callback = yaml
callbacks_enabled = profile_tasks

[privilege_escalation]
become = True
become_method = sudo
